<section class="f1-section timetable go-section section2">
    <div class="container-fluid">
        <div class="event-time-big-container">
            <h2 class="title one-line"><div><%= translations['f1.timetable.title'] %></div></h2>
            <div class="title-deco"></div>
            <div class="timetable-container">
                <div class="event">
                    <h4><%= translations['f1.friday'] %></h4>
                    <a class="formula"><%= translations['f1.practice'] %></a>
                </div>
                <div class="event">
                    <h4><%= translations['f1.saturday'] %></h4>
                    <a class="formula"><%= translations['f1.qualifying'] %></a>
                </div>
                <div class="event">
                    <h4><%= translations['f1.sunday'] %></h4>
                    <a class="formula"><%= translations['f1.race'] %></a>
                </div>
            </div>
        </div>
    </div>
</section>
