<section class="faysim-section buynow section0">
    <div class="container-fluid">
        <h2 class="title"><%= translations['faysim.buy.now'] %></h2>
        <div class="drag-content">
            <ul class="drag-list recommend-list">
                <li class="list-item">
                    <a href="/experience/10790-fay-sim-3g-4g-prepaid-high-speed-sim-card-hong-kong-delivery" title="<%= translations['faysim.buy.now.exp1.title'] %>" target="_blank">
                        <div class="list-content">
                            <div class="banner">
                                <% if (locale == 'zh-hk' || locale == 'zh-cn') { %>
                                <img src="/images/faysim_hkpickup_tc.jpg"  alt="<%= translations['faysim.buy.now.exp1.title'] %>" class="bg">
                                <% } else { %>
                                <img src="/images/faysim_hkpickup_en.jpg" alt="<%= translations['faysim.buy.now.exp1.title'] %>" class="bg">
                                <% } %>
                            </div>
                            <div class="content">
                                <h3><%= translations['faysim.buy.now.exp1.title'] %></h3>
                            </div>
                            <div class="price">
                                <span><span class="currency">
                                    <% switch (ccy) {
                                        case 'HKD' : %>
                                        HK$ 28</span><del><span class="currency">HK$</span> 68</del>
                                        <% break;
                                        case 'TWD' : %>
                                        NT$ 107</span><del><span class="currency">NT$</span> 260</del>
                                        <% break;
                                        case 'VND' : %>
                                        ₫ 82,353</span><del><span class="currency">₫</span> 200,000</del>
                                        <% break;
                                        case 'USD' : %>
                                        US$ 3.5</span><del><span class="currency">US$</span> 8.6</del>
                                        <% break;
                                        case 'CNY' : %>
                                        ¥ 24</span><del><span class="currency">¥</span> 58</del>
                                        <% break;
                                        case 'SGD' : %>
                                        S$ 4.9</span><del><span class="currency">S$</span> 11.8</del>
                                        <% break;
                                        case 'MYR' : %>
                                        RM 15</span><del><span class="currency">RM</span> 36</del>
                                        <% break;
                                    } %>
                                </span>
                            </div>

                            <div class="bottom">
                                <ul class="location">
                                    <li>
                                        <i class="icon bold-800 map-marker-alt"></i>
                                        <%= translations['common.vietnam'] %>
                                    </li>
                                </ul>
                                <ul class="rating num-5">
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="list-item">
                    <a href="/experience/10882-fay-sim-3g-4g-prepaid-high-speed-sim-card-da-nang-airport-pick-up" title="<%= translations['faysim.buy.now.exp2.title'] %>" target="_blank">
                        <div class="list-content">
                            <div class="banner">
                                <% if (locale == 'zh-hk' || locale == 'zh-cn') { %>
                                <img src="/images/faysim_danangpickup_tc.jpg"  alt="<%= translations['faysim.buy.now.exp2.title'] %>" class="bg">
                                <% } else { %>
                                <img src="/images/faysim_danangpickup_en.jpg" alt="<%= translations['faysim.buy.now.exp2.title'] %>" class="bg">
                                <% } %>
                            </div>
                            <div class="content">
                                <h3><%= translations['faysim.buy.now.exp2.title'] %></h3>
                            </div>
                            <div class="price">
                                <span><span class="currency">
                                    <% switch (ccy) {
                                        case 'HKD' : %>
                                        HK$ 28</span><del><span class="currency">HK$</span> 68</del>
                                        <% break;
                                        case 'TWD' : %>
                                        NT$ 107</span><del><span class="currency">NT$</span> 260</del>
                                        <% break;
                                        case 'VND' : %>
                                        ₫ 82,353</span><del><span class="currency">₫</span> 200,000</del>
                                        <% break;
                                        case 'USD' : %>
                                        US$ 3.5</span><del><span class="currency">US$</span> 8.6</del>
                                        <% break;
                                        case 'CNY' : %>
                                        ¥ 24</span><del><span class="currency">¥</span> 58</del>
                                        <% break;
                                        case 'SGD' : %>
                                        S$ 4.9</span><del><span class="currency">S$</span> 11.8</del>
                                        <% break;
                                        case 'MYR' : %>
                                        RM 15</span><del><span class="currency">RM</span> 36</del>
                                        <% break;
                                    } %>
                                </span>
                            </div>

                            <div class="bottom">
                                <ul class="location">
                                    <li>
                                        <i class="icon bold-800 map-marker-alt"></i><%= translations['activity.daNang'] %>
                                    </li>
                                </ul>
                                <ul class="rating num-5">
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="list-item">
                    <a href="/experience/10868-fay-sim-3g-4g-prepaid-high-speed-sim-card-hanoi-hotel-delivery" title="<%= translations['faysim.buy.now.exp6.title'] %>" target="_blank">
                        <div class="list-content">
                            <div class="banner">
                                <% if (locale == 'zh-hk' || locale == 'zh-cn') { %>
                                <img src="/images/faysim_hanoihotelpickup_tc.jpg"  alt="<%= translations['faysim.buy.now.exp6.title'] %>" class="bg">
                                <% } else { %>
                                <img src="/images/faysim_hanoihotelpickup_en.jpg" alt="<%= translations['faysim.buy.now.exp6.title'] %>" class="bg">
                                <% } %>
                            </div>
                            <div class="content">
                                <h3><%= translations['faysim.buy.now.exp6.title'] %></h3>
                            </div>
                            <div class="price">
                                <span><span class="currency">
                                    <% switch (ccy) {
                                        case 'HKD' : %>
                                        HK$ 28</span><del><span class="currency">HK$</span> 68</del>
                                        <% break;
                                        case 'TWD' : %>
                                        NT$ 107</span><del><span class="currency">NT$</span> 260</del>
                                        <% break;
                                        case 'VND' : %>
                                        ₫ 82,353</span><del><span class="currency">₫</span> 200,000</del>
                                        <% break;
                                        case 'USD' : %>
                                        US$ 3.5</span><del><span class="currency">US$</span> 8.6</del>
                                        <% break;
                                        case 'CNY' : %>
                                        ¥ 24</span><del><span class="currency">¥</span> 58</del>
                                        <% break;
                                        case 'SGD' : %>
                                        S$ 4.9</span><del><span class="currency">S$</span> 11.8</del>
                                        <% break;
                                        case 'MYR' : %>
                                        RM 15</span><del><span class="currency">RM</span> 36</del>
                                        <% break;
                                    } %>
                                </span>
                            </div>

                            <div class="bottom">
                                <ul class="location">
                                    <li>
                                        <i class="icon bold-800 map-marker-alt"></i><%= translations['activity.hanoi'] %>
                                    </li>
                                </ul>
                                <ul class="rating num-5">
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="drag-content">
            <ul class="drag-list recommend-list">
                <li class="list-item">
                    <a href="/experience/10849-fay-sim-3g-4g-prepaid-high-speed-sim-card-thailand-delivery" title="<%= translations['faysim.buy.now.exp3.title'] %>" target="_blank">
                        <div class="list-content">
                            <div class="banner">
                                <% if (locale == 'zh-hk' || locale == 'zh-cn') { %>
                                <img src="/images/faysim_thaipickup_tc.jpg"  alt="<%= translations['faysim.buy.now.exp3.title'] %>" class="bg">
                                <% } else { %>
                                <img src="/images/faysim_thaipickup_en.jpg" alt="<%= translations['faysim.buy.now.exp3.title'] %>" class="bg">
                                <% } %>
                            </div>
                            <div class="content">
                                <h3><%= translations['faysim.buy.now.exp3.title'] %></h3>
                            </div>
                            <div class="price">
                                <span><span class="currency">
                                    <% switch (ccy) {
                                        case 'HKD' : %>
                                        HK$ 33</span><del><span class="currency">HK$</span> 75</del>
                                        <% break;
                                        case 'TWD' : %>
                                        NT$ 126</span><del><span class="currency">NT$</span> 286</del>
                                        <% break;
                                        case 'VND' : %>
                                        ₫ 97,059</span><del><span class="currency">₫</span> 220,000</del>
                                        <% break;
                                        case 'USD' : %>
                                        US$ 4.2</span><del><span class="currency">US$</span> 9.5</del>
                                        <% break;
                                        case 'CNY' : %>
                                        ¥ 28</span><del><span class="currency">¥</span> 64</del>
                                        <% break;
                                        case 'SGD' : %>
                                        S$ 5.7</span><del><span class="currency">S$</span> 13.0</del>
                                        <% break;
                                        case 'MYR' : %>
                                        RM 17</span><del><span class="currency">RM</span> 40</del>
                                        <% break;
                                    } %>
                                </span>
                            </div>

                            <div class="bottom">
                                <ul class="location">
                                    <li>
                                        <i class="icon bold-800 map-marker-alt"></i>
                                        <%= translations['common.vietnam'] %>
                                    </li>
                                </ul>
                                <ul class="rating num-5">
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="/experience/10857-fay-sim-3g-4g-prepaid-high-speed-sim-card-malaysia-delivery" title="<%= translations['faysim.buy.now.exp4.title'] %>" target="_blank">
                        <div class="list-content">
                            <div class="banner">
                                <% if (locale == 'zh-hk' || locale == 'zh-cn') { %>
                                <img src="/images/faysim_malaysiadelivery_tc.jpg"  alt="<%= translations['faysim.buy.now.exp4.title'] %>" class="bg">
                                <% } else { %>
                                <img src="/images/faysim_malaysiadelivery_en.jpg" alt="<%= translations['faysim.buy.now.exp4.title'] %>" class="bg">
                                <% } %>
                            </div>
                            <div class="content">
                                <h3><%= translations['faysim.buy.now.exp4.title'] %></h3>
                            </div>
                            <div class="price">
                                <span><span class="currency">
                                    <% switch (ccy) {
                                        case 'HKD' : %>
                                        HK$ 33</span><del><span class="currency">HK$</span> 75</del>
                                        <% break;
                                        case 'TWD' : %>
                                        NT$ 126</span><del><span class="currency">NT$</span> 286</del>
                                        <% break;
                                        case 'VND' : %>
                                        ₫ 97,059</span><del><span class="currency">₫</span> 220,000</del>
                                        <% break;
                                        case 'USD' : %>
                                        US$ 4.2</span><del><span class="currency">US$</span> 9.5</del>
                                        <% break;
                                        case 'CNY' : %>
                                        ¥ 28</span><del><span class="currency">¥</span> 64</del>
                                        <% break;
                                        case 'SGD' : %>
                                        S$ 5.7</span><del><span class="currency">S$</span> 13.0</del>
                                        <% break;
                                        case 'MYR' : %>
                                        RM 17</span><del><span class="currency">RM</span> 40</del>
                                        <% break;
                                    } %>
                                </span>
                            </div>

                            <div class="bottom">
                                <ul class="location">
                                    <li>
                                        <i class="icon bold-800 map-marker-alt"></i>
                                        <%= translations['common.vietnam'] %>
                                    </li>
                                </ul>
                                <ul class="rating num-5">
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="list-item">
                    <a href="/experience/10858-fay-sim-3g-4g-prepaid-high-speed-sim-card-singapore-delivery" title="<%= translations['faysim.buy.now.exp5.title'] %>" target="_blank">
                        <div class="list-content">
                            <div class="banner">
                                <% if (locale == 'zh-hk' || locale == 'zh-cn') { %>
                                <img src="/images/faysim_singaporedelivery_tc.jpg"  alt="<%= translations['faysim.buy.now.exp5.title'] %>" class="bg">
                                <% } else { %>
                                <img src="/images/faysim_singaporedelivery_en.jpg" alt="<%= translations['faysim.buy.now.exp5.title'] %>" class="bg">
                                <% } %>
                            </div>
                            <div class="content">
                                <h3><%= translations['faysim.buy.now.exp5.title'] %></h3>
                            </div>
                            <div class="price">
                                <span><span class="currency">
                                    <% switch (ccy) {
                                        case 'HKD' : %>
                                        HK$ 33</span><del><span class="currency">HK$</span> 75</del>
                                        <% break;
                                        case 'TWD' : %>
                                        NT$ 126</span><del><span class="currency">NT$</span> 286</del>
                                        <% break;
                                        case 'VND' : %>
                                        ₫ 97,059</span><del><span class="currency">₫</span> 220,000</del>
                                        <% break;
                                        case 'USD' : %>
                                        US$ 4.2</span><del><span class="currency">US$</span> 9.5</del>
                                        <% break;
                                        case 'CNY' : %>
                                        ¥ 28</span><del><span class="currency">¥</span> 64</del>
                                        <% break;
                                        case 'SGD' : %>
                                        S$ 5.7</span><del><span class="currency">S$</span> 13.0</del>
                                        <% break;
                                        case 'MYR' : %>
                                        RM 17</span><del><span class="currency">RM</span> 40</del>
                                        <% break;
                                    } %>
                                </span>
                            </div>

                            <div class="bottom">
                                <ul class="location">
                                    <li>
                                        <i class="icon bold-800 map-marker-alt"></i><%= translations['common.vietnam'] %>
                                    </li>
                                </ul>
                                <ul class="rating num-5">
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                    <li class="star"></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
