<section class="section voucher">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-sm-offset-1 col-sm-3 col-xs-offset-0 col-xs-4 txt-right">
                <img src="/images/logo/logo_coffee_house.png" data-aos="fade-up" data-aos-duration="800">
            </div>
            <div class="col-md-6 col-sm-7 col-xs-8">
                <h5 data-aos="fade-up" data-aos-duration="800">
                    <%= translations['campaign.coffeehouse.voucher.intro'] %>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 txt-center">
                <h3 class="title">
                    <%- translations['campaign.coffeehouse.voucher.desc'] %>
                </h3>
                <a class="btn btn-lg btn-voucher" data-aos="zoom-in" data-aos-duration="800">
                    <%= translations['campaign.coffeehouse.voucher.where.coupon'] %>
                </a>
            </div>
        </div>
        <div id="voucherAddress" class="hide">
            <div class="close-btn">
                <i class="icon fal fa-times"></i>
            </div>
            <div class="content-container">
                <div class="content">
                    <div class="main-logo-container destination" data-aos="fade-up" data-aos-duration="500">
                        <div class="main-logo">
                            <img src="/images/campaign/coffeehouse/icon-voucher.png">
                        </div>
                        <h2><%= translations['campaign.coffeehouse.center.hours'] %></h2>
                    </div>
                    <div class="content-table">
                        <div class="title-address">
                            <%= translations['campaign.coffeehouse.address'] %>
                        </div>
                        <div class="title-time">
                            <%= translations['campaign.coffeehouse.working.hours'] %>
                        </div>
                        <div class="content-address">
                            <h6>Da Nang Information Center in Airport</h6>
                            <%= translations['campaign.coffeehouse.address'] %>: Da Nang International Airport
                        </div>
                        <div class="content-time">
                            9AM - 5 PM
                        </div>
                        <div class="content-address">
                            <h6>Da Nang Tourist Support Center in City Center</h6>
                            <%= translations['campaign.coffeehouse.address'] %>: 108 Bach Dang Street, Da Nang
                        </div>
                        <div class="content-time">
                            9AM - 5 PM
                        </div>
                        <div class="content-address">
                            <h6>The Moving Company Counter</h6>
                            <%= translations['campaign.coffeehouse.address'] %>: Column 1, 1st floor, Da Nang Domestic Airport
                        </div>
                        <div class="content-time">
                            9AM - 5 PM
                        </div>
                        <div class="content-address">
                            <h6>Ms. Sam Ao Dai Store in Da Nang</h6>
                            <%= translations['campaign.coffeehouse.address'] %>: 59 Tran Dinh Dan Street, Da Nang
                        </div>
                        <div class="content-time">
                            9AM - 5 PM
                        </div>
                         <div class="content-address">
                            <h6>Babylon Spa in Da Nang</h6>
                            <%= translations['campaign.coffeehouse.address'] %>: 30 Ha Bong, Son Tra, Da Nang
                        </div>
                        <div class="content-time">
                            9AM - 5 PM
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
