<section id="promoCode">
    <div class="container-fluid">
        <div class="coupon-container">
            <div class="discount">
                <h1>11%<span class="off"><%= translations['campaign.common.off'] %><</span></h1>
                <p class="desc"><%= translations['campaign.double11.discountText'] %></p>
            </div>
            <div class="code">
                <h3><%= translations['campaign.common.promo.code'] %></h3>
                <h1 class="promoCode">11NOVIET</h1>
                <button class="btn btn-s copy-btn show"><%= translations['campaign.common.copy'] %></button>
                <button class="btn btn-s copied-btn"><%= translations['campaign.common.copied'] %></button>
            </div>
        </div>
        <p class="desc"><%- translations['campaign.double11.terms1']  %></p>
    </div>
</section>
