<div class="booking-details whitebox hidden-sm hidden-xs">
    <h4><%= translations['package.booking.details'] %></h4>
    <p>Admission + HK$100 Souvenir Cash Coupon</p>
    <p>
        <span class="title-date"><%= translations['common.date'] %></span>30 Dec 2018</p>
    <div class="booking-order">
        <div class="row order">
            <div class="col-md-4">
                <span class="type"><%= translations['package.adult'] %></span>
            </div>
            <div class="col-md-4">
                x
                <span class="qty">2</span>
            </div>
            <div class="col-md-4 txt-right">
                <span class="currency">HKD</span>
                <span class="price">366</span>
            </div>
        </div>
        <div class="row order">
            <div class="col-md-4">
                <span class="type"><%= translations['package.child'] %></span>
            </div>
            <div class="col-md-4">
                x
                <span class="qty">1</span>
            </div>
            <div class="col-md-4 txt-right">
                <span class="currency">HKD</span>
                <span class="price">223</span>
            </div>
        </div>
    </div>
    <div class="booking-total">
        <div class="row">
            <div class="col-md-6">
                <span class="total"><%= translations['payment.total'] %></span>
            </div>
            <div class="col-md-6 txt-right">
                <span class="total-currency">HKD</span>
                <span class="total-price">223</span>
            </div>
        </div>
        <ul class="remark float-right">
            <li>
                <span>Complete this activity to get
                    <b>99</b> credits!</span>
            </li>
        </ul>
        <div class="buttons">
            <div>
                <button class="btn btn-lg yellow" href="#"><%= translations['package.add.to.cart'] %></button>
            </div>
            <div>
                <button class="btn btn-lg" href="#"><%= translations['common.book.now'] %></button>
            </div>
        </div>
    </div>
</div>
<div class="booking-details whitebox visible-sm visible-xs">
    <div class="buttons">
        <div class="btn-icon">
            <i class="icon heart"></i>
        </div>
        <div class="btn-div">
            <button class="btn btn-lg yellow" href="#"><%= translations['package.add.to.cart'] %></button>
        </div>
        <div class="btn-div">
            <button class="btn btn-lg" href="#"><%= translations['common.book.now'] %></button>
        </div>
    </div>
</div>
