<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="<%= translations['login.reset.password'] %>">
    <meta name="keywords" content="<%= translations['login.reset.password'] %>">
    <title><%= translations['login.reset.password'] %> | Fayfay.com</title>
    <meta property="og:image" content="<%= CLOUDINARY_IMAGE_URL_PREFIX %>/w_1200/fayfay-media/common/indexog.jpg"/>
    <meta property="og:image:alt" content="<%= translations['home.og.image.alt']  %>"/>
    <meta property="og:title" content="<%= translations['home.og.title'] %>"/>
    <meta property="og:description" content="<%= translations['home.og.desc'] %>"/>
    <% include include/gtm.header.ejs %>

    <% include include/css.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/account.css">
</head>

<body>
<% include include/gtm.body.ejs %>

    <div id="page">
        <% include account/account.header.ejs %>

        <section class="account-section bg-light-grey">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4 col-sm-8 col-xs-12 myaccount-content">
                        <% if(isSuccess) { %>
                        <div id="resetPasswordContainer"><%- resetPasswordHtml %></div>
                        <% } else { %>
                        <div class="alert alert-warning">
                            <%- message %>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
        <div id="root"></div>

        <% include include/footer.ejs %>
    </div>

    <% include include/js.ejs %>
    <% if(isSuccess) { %>
        <script src="/js/components/ResetPasswordContainer-bundle.js"></script>
    <% }; %>

</body>
</html>
