<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="<%= translations['common.terms.privacy'] %>">
    <meta name="keywords" content="<%= translations['common.terms.privacy'] %>">
    <% if (termPage === 'terms') { %>
    <title><%= translations['common.terms.policies'] %> | Fayfay.com</title>
    <% } else if (termPage === 'dispute-settlement') { %>
    <title><%= translations['common.dispute.settlement.mechanism'] %> | Fayfay.com</title>
    <% } else if (termPage === 'privacy-policy') { %>
    <title><%= translations['common.privacy.policy'] %> | Fayfay.com</title>
    <% } %>
    <meta property="og:image" content="<%= CLOUDINARY_IMAGE_URL_PREFIX %>/w_1200/fayfay-media/common/indexog.jpg"/>
    <meta property="og:image:alt" content="<%= translations['home.og.image.alt']  %>"/>
    <meta property="og:title" content="<%= translations['home.og.title'] %>"/>
    <meta property="og:description" content="<%= translations['home.og.desc'] %>"/>

    <% include include/gtm.header.ejs %>

    <% include include/css.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/terms.css">
</head>

<body>
<% include include/gtm.body.ejs %>

<div id="page">
    <% include terms/terms.header.ejs %>
    <% include terms/terms.content.ejs %>

    <% include include/footer.ejs %>
</div>

<% include include/js.ejs %>
</body>
</html>
