<section id="home-main-button-section">
    <div class="container-fluid main-button-container">
        <div class="home-button">
            <a href="<%= langUrl %>/vietnam-visa">
                <div class="home-icon musthave">
                    <img src="/images/icons/icon-visa.png">
                </div>
                <div class="content">
                    <h1><%= translations['home.vietnam.visa.on.arrival'] %></h1>
                    <p class="desc marginBottom-15px"><%= translations['home.vietnam.visa.on.arrival.desc'] %></p>
                    <a class="btn btn-s" href="<%= langUrl %>/vietnam-visa"><%= translations['common.seeAll']  %></a>
                </div>
            </a>
        </div>
        <div class="home-button">
            <a href="<%= langUrl %>/f1">
                <div class="home-icon authentic">
                    <img src="/images/icons/icon-f1-car.png">
                </div>
                <div class="content">
                    <h1><%= translations['home.f1.reseller'] %></h1>
                    <p class="desc marginBottom-15px"><%= translations['home.f1.reseller.desc'] %></p>
                    <a class="btn btn-s" href="<%= langUrl %>/f1"><%= translations['common.seeAll']  %></a>
                </div>
            </a>
        </div>
        <div class="home-button">
            <a href="<%= langUrl %>/faysim">
                <div class="home-icon keepsakes">
                    <img src="/images/icons/icon-faysim.png">
                </div>
                <div class="content">
                    <h1><%= translations['home.faysim'] %></h1>
                    <p class="desc marginBottom-15px"><%= translations['home.faysim.desc'] %></p>
                    <a class="btn btn-s" href="<%= langUrl %>/faysim"><%= translations['common.seeAll']  %></a>
                </div>
            </a>
        </div>
    </div>
</section>
