<section name="categories" id="categories">
    <div class="container-fluid">
        <div class="main-logo-container categories">
            <div class="main-logo">
                <img src="/images/noresult.png">
            </div>
            <h2><%= translations['search.categories'] %></h2>
            <p class="hidden-xs"><%= translations['common.category.desc'] %></p>
        </div>
        <div class="drag-content">
            <ul class="drag-list category-list">
                <li class="list-item">
                    <a href="<%= langUrl %>/category/visa-sim-card" title="<%= translations['common.category.visa.sim'] %>">
                        <div class="list-content">
                            <div class="banner">
                                <img
                                    class="lazy bg" data-src="/images/category-visa.jpg"
                                    alt="<%= translations['common.category.visa.sim'] %>">
                            </div>
                            <div class="content">
                                <div class="category-icon">
                                    <img src="/images/icons/icon-sim.png">
                                </div>
                                <h3 class="title-s"><%= translations['common.category.visa.sim'] %></h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="<%= langUrl %>/category/transportation" title="<%= translations['common.category.transportation'] %>">
                        <div class="list-content">
                            <div class="banner">
                                <img
                                    class="lazy bg" data-src="/images/category-car.jpg"
                                    alt="<%= translations['common.category.transportation'] %>">
                            </div>
                            <div class="content">
                                <div class="category-icon">
                                    <img src="/images/icons/icon-transfer.png">
                                </div>
                                <h3 class="title-s"><%= translations['common.category.transportation'] %></h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="<%= langUrl %>/category/tour-activity" title="<%= translations['common.category.day.tour.local.exp'] %>">
                        <div class="list-content">
                            <div class="banner">
                                <img
                                    class="lazy bg" data-src="/images/category-tour.jpg"
                                    alt="<%= translations['common.category.day.tour.local.exp'] %>">
                            </div>
                            <div class="content">
                                <div class="category-icon">
                                    <img src="/images/icons/icon-tour.png">
                                </div>
                                <h3 class="title-s"><%= translations['common.category.day.tour.local.exp'] %></h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="<%= langUrl %>/category/ticket" title="<%= translations['common.category.attraction.tickets'] %>">
                        <div class="list-content">
                            <div class="banner">
                                <img
                                    class="lazy bg" data-src="/images/category-ticket.jpg"
                                    alt="<%= translations['common.category.attraction.tickets'] %>">
                            </div>
                            <div class="content">
                                <div class="category-icon">
                                    <img src="/images/icons/icon-tickets.png">
                                </div>
                                <h3 class="title-s"><%= translations['common.category.attraction.tickets'] %></h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="<%= langUrl %>/category/package/hotel-deal" title="<%= translations['common.category.hotel.deal'] %>">
                        <div class="list-content">
                            <div class="banner">
                                <img
                                    class="lazy bg" data-src="/images/category-hotel.jpg"
                                    alt="<%= translations['common.category.hotel.deal'] %>">
                            </div>
                            <div class="content">
                                <div class="category-icon">
                                    <img src="/images/icons/icon-hotel.png">
                                </div>
                                <h3 class="title-s"><%= translations['common.category.hotel.deal'] %></h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="<%= langUrl %>/category/package/tour-package" title="<%= translations['common.category.tour.package'] %>">
                        <div class="list-content">
                            <div class="banner">
                                <img
                                    class="lazy bg" data-src="/images/category-package.jpg"
                                    alt="<%= translations['common.catagory.tour.package'] %>">
                            </div>
                            <div class="content">
                                <div class="category-icon">
                                    <img src="/images/icons/icon-package.png">
                                </div>
                                <h3 class="title-s"><%= translations['common.catagory.tour.package'] %></h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="<%= langUrl %>/vietnam-travel-planning" title="<%= translations['common.category.travel.planning.service'] %>">
                        <div class="list-content">
                            <div class="banner">
                                <img
                                    class="lazy bg" data-src="/images/category-plan.jpg"
                                    alt="<%= translations['common.category.travel.planning.service'] %>">
                            </div>
                            <div class="content">
                                <div class="category-icon">
                                    <img src="/images/icons/icon-plan.png">
                                </div>
                                <h3 class="title-s"><%= translations['common.category.travel.planning.service'] %></h3>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="<%= translations['common.fayfay.blogUrl'] %>" title="<%= translations['common.category.fayfay.travel.blog'] %>">
                        <div class="list-content">
                            <div class="banner">
                                <img
                                    class="lazy bg" data-src="/images/category-blog.jpg"
                                    alt="<%= translations['common.category.fayfay.travel.blog'] %>">
                            </div>
                            <div class="content">
                                <div class="category-icon">
                                    <img src="/images/icons/icon-blog.png">
                                </div>
                                <h3 class="title-s"><%= translations['common.category.fayfay.travel.blog'] %></h3>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
