<section class="travel-planning-content-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12">
                <p><%= translations['travel.planning.desc'] %></p>
                <button class="btn btn-s marginTop-20px visible-xs"
                        onclick="location.href='mailto:travel@fayfay.com';"><%= translations['common.contact.us'] %></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12">
                <h3><%= translations['travel.planning.services'] %></h3>
                <div class="drag-content">
                    <ul class="drag-list travel-planning-list">
                        <li class="list-item">
                            <div class="list-content">
                                <div class="overlay-content hover-normal">
                                    <div class="banner">
                                        <img class="lazy bg" data-src="/images/tp_honeymoon.jpg"
                                             alt="<%= translations['travel.planning.honeymoon'] %>">
                                    </div>
                                    <div class="overlay-wrap">
                                        <div class="overlay">
                                            <h3 class="title-s"><%= translations['travel.planning.honeymoon'] %></h3>
                                            <div class="nobg">
                                                <%- translations['travel.planning.honeymoon.desc'] %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile-content">
                                    <h3><%= translations['travel.planning.honeymoon'] %></h3>
                                    <%- translations['travel.planning.honeymoon.desc'] %>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-content">
                                <div class="overlay-content hover-normal">
                                    <div class="banner">
                                        <img class="lazy bg" data-src="/images/tp_familytrip.jpg"
                                             alt="<%= translations['travel.planning.familytrip'] %>">
                                    </div>
                                    <div class="overlay-wrap">
                                        <div class="overlay">
                                            <h3 class="title-s"><%= translations['travel.planning.familytrip'] %></h3>
                                            <div class="nobg">
                                                <%- translations['travel.planning.familytrip.desc'] %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile-content">
                                    <h3><%= translations['travel.planning.familytrip'] %></h3>
                                    <%- translations['travel.planning.familytrip.desc'] %>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-content">
                                <div class="overlay-content hover-normal">
                                    <div class="banner">
                                        <img class="lazy bg" data-src="/images/tp_wedding.jpg"
                                             alt="<%= translations['travel.planning.wedding'] %>">
                                    </div>
                                    <div class="overlay-wrap">
                                        <div class="overlay">
                                            <h3 class="title-s"><%= translations['travel.planning.wedding'] %></h3>
                                            <div class="nobg">
                                                <%- translations['travel.planning.wedding.desc'] %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile-content">
                                    <h3><%= translations['travel.planning.wedding'] %></h3>
                                    <%- translations['travel.planning.wedding.desc'] %>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-content">
                                <div class="overlay-content hover-normal">
                                    <div class="banner">
                                        <img class="lazy bg" data-src="/images/tp_wellness.jpg"
                                             alt="<%= translations['travel.planning.wellness'] %>">
                                    </div>
                                    <div class="overlay-wrap">
                                        <div class="overlay">
                                            <h3 class="title-s"><%= translations['travel.planning.wellness'] %></h3>
                                            <div class="nobg">
                                                <%- translations['travel.planning.wellness.desc'] %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile-content">
                                    <h3><%= translations['travel.planning.wellness'] %></h3>
                                    <%- translations['travel.planning.wellness.desc'] %>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-content">
                                <div class="overlay-content hover-normal">
                                    <div class="banner">
                                        <img class="lazy bg" data-src="/images/tp_study.jpg"
                                             alt="<%= translations['travel.planning.study'] %>">
                                    </div>
                                    <div class="overlay-wrap">
                                        <div class="overlay">
                                            <h3 class="title-s"><%= translations['travel.planning.study'] %></h3>
                                            <div class="nobg">
                                                <%- translations['travel.planning.study.desc'] %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile-content">
                                    <h3><%= translations['travel.planning.study'] %></h3>
                                    <%- translations['travel.planning.study.desc'] %>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-content">
                                <div class="overlay-content hover-normal">
                                    <div class="banner">
                                        <img class="lazy bg" data-src="/images/tp_dive.jpg"
                                             alt="<%= translations['travel.planning.dive'] %>">
                                    </div>
                                    <div class="overlay-wrap">
                                        <div class="overlay">
                                            <h3 class="title-s"><%= translations['travel.planning.dive'] %></h3>
                                            <div class="nobg">
                                                <%- translations['travel.planning.dive.desc'] %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile-content">
                                    <h3><%= translations['travel.planning.dive'] %></h3>
                                    <%- translations['travel.planning.dive.desc'] %>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-content">
                                <div class="overlay-content hover-normal">
                                    <div class="banner">
                                        <img class="lazy bg" data-src="/images/tp_corporate.jpg"
                                             alt="<%= translations['travel.planning.corporate'] %>">
                                    </div>
                                    <div class="overlay-wrap">
                                        <div class="overlay">
                                            <h3 class="title-s"><%= translations['travel.planning.corporate'] %></h3>
                                            <div class="nobg">
                                                <%- translations['travel.planning.corporate.desc'] %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile-content">
                                    <h3><%= translations['travel.planning.corporate'] %></h3>
                                    <%- translations['travel.planning.corporate.desc'] %>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-content">
                                <div class="overlay-content hover-normal">
                                    <div class="banner">
                                        <img class="lazy bg" data-src="/images/tp_conference.jpg"
                                             alt="<%= translations['travel.planning.conference'] %>">
                                    </div>
                                    <div class="overlay-wrap">
                                        <div class="overlay">
                                            <h3 class="title-s"><%= translations['travel.planning.conference'] %></h3>
                                            <div class="nobg">
                                                <%- translations['travel.planning.conference.desc'] %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile-content">
                                    <h3><%= translations['travel.planning.conference'] %></h3>
                                    <%- translations['travel.planning.conference.desc'] %>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-content">
                                <div class="overlay-content hover-normal">
                                    <div class="banner">
                                        <img class="lazy bg" data-src="/images/tp_others.jpg"
                                             alt="<%= translations['travel.planning.others'] %>">
                                    </div>
                                    <div class="overlay-wrap">
                                        <div class="overlay">
                                            <h3 class="title-s"><%= translations['travel.planning.others'] %></h3>
                                            <div class="nobg">
                                                <%- translations['travel.planning.others.desc'] %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mobile-content">
                                    <h3><%= translations['travel.planning.others'] %></h3>
                                    <%- translations['travel.planning.others.desc'] %>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="travel-planning-form-section">
    <div class="container-fluid" id="travel-planning-form-container"><%- InfoContainerHtml %></div>
</section>
