<section class="visa-section combo section5">
    <div class="container-fluid">
        <h2 class="title"><%= translations['visa.combo'] %></h2>
        <div class="drag-content">
            <ul class="drag-list">
                <li class="list-item">
                    <a href="/<%=locale%>/experience/10601-budget-hcmc-visa-sim-card-airport-transfer" title="<%= translations['visa.combo.one.title'] %>" target="_blank">
                        <div class="list-content">
                            <div class="banner">
                                <img src="<%= CLOUDINARY_IMAGE_URL_PREFIX %>/w_640/fayfay-media/prod/kufgfdau0icfzhqjzmzc.jpg" alt="<%= translations['visa.combo.one.title'] %>" class="bg">
                            </div>
                            <div class="content">
                                <h3 class="title-s"><%= translations['visa.combo.one.title'] %></h3>
                            </div>
                            <div class="price">
                                <% switch (ccy) {
                                case 'HKD' : %>
                                    HK$ 486<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'TWD' : %>
                                    NT$ 1,920<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'VND' : %>
                                    <span>Từ</span> ₫ 1,429,956
                                <% break;
                                case 'USD' : %>
                                    US$ 66<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'CNY' : %>
                                    ¥ 419<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'SGD' : %>
                                    S$ 84<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'MYR' : %>
                                    RM 255<span><%= translations['common.up'] %></span>
                                <% break;
                                } %>
                            </div>
                            <div class="bottom">
                                <ul class="location">
                                  <li><i class="icon bold-800 map-marker-alt"></i> <%= translations['activity.hoChiMinh'] %></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="/<%=locale %>/experience/10608-standard-hcmc-visa-sim-card-airport-transfer" title="<%= translations['visa.combo.two.title'] %>" target="_blank">
                        <div class="list-content">
                            <div class="banner">
                                <img src="<%= CLOUDINARY_IMAGE_URL_PREFIX %>/w_640/fayfay-media/prod/ip9hgllnpvsvea01s4gi.jpg" alt="<%= translations['visa.combo.two.title'] %>" class="bg">
                            </div>
                            <div class="content">
                                <h3 class="title-s"><%= translations['visa.combo.two.title'] %></h3>
                            </div>
                            <div class="price">
                                <% switch (ccy) {
                                case 'HKD' : %>
                                    HK$ 584<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'TWD' : %>
                                    NT$ 2,307<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'VND' : %>
                                    <span>Từ</span> ₫ 1,717,502
                                <% break;
                                case 'USD' : %>
                                    US$ 79<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'CNY' : %>
                                    ¥ 503<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'SGD' : %>
                                    S$ 101<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'MYR' : %>
                                    RM 306<span><%= translations['common.up'] %></span>
                                <% break;
                                } %>

                            </div>
                            <div class="bottom">
                                <ul class="location">
                                  <li><i class="icon bold-800 map-marker-alt"></i> <%= translations['activity.hoChiMinh'] %></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="/<%=locale %>/experience/10607-premium-hcmc-visa-sim-card-airport-transfer-with-wifi" title="<%= translations['visa.combo.three.title'] %>" target="_blank">
                        <div class="list-content">
                            <div class="banner">
                                <img src="<%= CLOUDINARY_IMAGE_URL_PREFIX %>/w_640/fayfay-media/prod/hhia5l8ed5uytnvyxup2.jpg" alt="<%= translations['visa.combo.three.title'] %>" class="bg">
                            </div>
                            <div class="content">
                                <h3 class="title-s"><%= translations['visa.combo.three.title'] %></h3>
                            </div>
                            <div class="price">
                                <% switch (ccy) {
                                case 'HKD' : %>
                                    HK$ 756<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'TWD' : %>
                                    NT$ 2,985<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'VND' : %>
                                    <span>Từ</span> ₫ 2,222,649
                                <% break;
                                case 'USD' : %>
                                    US$ 102<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'CNY' : %>
                                    ¥ 651<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'SGD' : %>
                                    S$ 131<span><%= translations['common.up'] %></span>
                                <% break;
                                case 'MYR' : %>
                                    RM 396<span><%= translations['common.up'] %></span>
                                <% break;
                                } %>
                            </div>
                            <div class="bottom">
                                <ul class="location">
                                  <li><i class="icon bold-800 map-marker-alt"></i> <%= translations['activity.hoChiMinh'] %></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>
