<section class="visa-section customer-reviews">
    <div class="container-fluid">
        <h2 class="title"><%= translations['visa.customer.reviews'] %></h2>
        <p class="desc"><%= translations['visa.customer.reviews.desc'] %></p>

        <div class="drag-content">
            <ul class="reviews-slider loaded-list">
                <li class="list-item">
                    <div class="list-content">
                        <div class="review-content">
                            <i class="icon quote-left"></i>
                            <p><%- translations['visa.customer.review.one'] %></p>
                            <% if (locale == 'en-us' || locale == 'vi-vn') { %>
                                <a class="viewmore"><%= translations['common.view.more'] %></a>
                                <a class="showless hidden"><%= translations['common.show.less'] %></a>
                            <% } %>
                            <i class="icon quote-right"></i>
                        </div>
                        <div class="bottom">
                             <ul class="rating num-5">
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                             </ul>
                        </div>
                        <div class="review-user">
                            <h5 class="name">YI TING LIN</h5>
                            <p class="date">01/02/2019</p>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-content">
                        <div class="review-content">
                            <i class="icon quote-left"></i>
                            <p><%- translations['visa.customer.review.two'] %></p>
                            <a class="viewmore"><%= translations['common.view.more'] %></a>
                            <a class="showless hidden"><%= translations['common.show.less'] %></a>
                            <i class="icon quote-right"></i>
                        </div>
                        <div class="bottom">
                             <ul class="rating num-5">
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                             </ul>
                        </div>
                        <div class="review-user">
                            <h5 class="name">KI KI CHEUNG</h5>
                            <p class="date">17/03/2019</p>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-content">
                        <div class="review-content">
                            <i class="icon quote-left"></i>
                            <p><%- translations['visa.customer.review.three'] %></p>
                            <i class="icon quote-right"></i>
                        </div>
                        <div class="bottom">
                             <ul class="rating num-5">
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                             </ul>
                        </div>
                        <div class="review-user">
                            <h5 class="name">俊</h5>
                            <p class="date">15/11/2018</p>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-content">
                        <div class="review-content">
                            <i class="icon quote-left"></i>
                            <p><%- translations['visa.customer.review.four'] %></p>
                            <% if (locale == 'en-us' || locale == 'vi-vn') { %>
                                <a class="viewmore"><%= translations['common.view.more'] %></a>
                                <a class="showless hidden"><%= translations['common.show.less'] %></a>
                            <% } %>
                            <i class="icon quote-right"></i>
                        </div>
                        <div class="bottom">
                             <ul class="rating num-5">
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                                 <li class="star"></li>
                             </ul>
                        </div>
                        <div class="review-user">
                            <h5 class="name">HSIN CHANG CHEN</h5>
                            <p class="date">09/04/2019</p>
                        </div>
                    </div>
                </li>
                <li class="list-item">
                     <div class="list-content">
                         <div class="review-content">
                             <i class="icon quote-left"></i>
                             <p><%- translations['visa.customer.review.five'] %></p>
                             <a class="viewmore"><%= translations['common.view.more'] %></a>
                             <a class="showless hidden"><%= translations['common.show.less'] %></a>
                             <i class="icon quote-right"></i>
                         </div>
                         <div class="bottom">
                              <ul class="rating num-5">
                                  <li class="star"></li>
                                  <li class="star"></li>
                                  <li class="star"></li>
                                  <li class="star"></li>
                                  <li class="star"></li>
                              </ul>
                         </div>
                         <div class="review-user">
                             <h5 class="name">WANG YU-HSING</h5>
                             <p class="date">26/01/2019</p>
                         </div>
                     </div>
                 </li>
            </ul>
        </div>
    </div>
</section>
