
<div class="panel-group" id="panel-settings">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#settings" href="#settings1"><%= translations['help.settings1.title'] %></a>
            </h4>
        </div>
        <div id="settings1" class="panel-collapse collapse">
            <div class="panel-body"><%- translations['help.settings1.desc'] %></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#settings" href="#settings2"><%= translations['help.settings2.title'] %></a>
            </h4>
        </div>
        <div id="settings2" class="panel-collapse collapse">
            <div class="panel-body"><%- translations['help.settings2.desc'] %></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#settings" href="#settings3"><%= translations['help.settings3.title'] %></a>
            </h4>
        </div>
        <div id="settings3" class="panel-collapse collapse">
            <div class="panel-body"><%- translations['help.settings3.desc'] %></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#settings" href="#settings4"><%= translations['help.settings4.title'] %></a>
            </h4>
        </div>
        <div id="settings4" class="panel-collapse collapse">
            <div class="panel-body"><%- translations['help.settings4.desc'] %></div>
        </div>
    </div>
</div>

