<div class="panel-group" id="paymentprocess">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#payment" href="#payment1"><%= translations['help.payment1.title'] %></a>
            </h4>
        </div>
        <div id="payment1" class="panel-collapse collapse">
            <div class="panel-body">
                <%- translations['help.payment1.desc'] %>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#payment" href="#payment2"><%= translations['help.payment2.title'] %></a>
            </h4>
        </div>
        <div id="payment2" class="panel-collapse collapse">
            <div class="panel-body">
                <%- translations['help.payment2.desc'] %>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#payment" href="#payment3"><%= translations['help.payment3.title'] %></a>
            </h4>
        </div>
        <div id="payment3" class="panel-collapse collapse">
            <div class="panel-body">
                <%- translations['help.payment3.desc'] %>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#payment" href="#payment4"><%= translations['help.payment4.title'] %></a>
            </h4>
        </div>
        <div id="payment4" class="panel-collapse collapse">
            <div class="panel-body">
                <%- translations['help.payment4.desc'] %>
            </div>
        </div>
    </div>
</div>
