<section class="about-content-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="press-row">
                    <div class="press-img">
                        <img src="/images/aboutus_press.jpg">
                    </div>
                    <div class="press-desc">
                        <p class="txt-center"><%- translations['about.us.press'] %></p>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2 col-sm-offset-1 col-sm-5 col-xs-6 col-xs-offset-0">
                                <img src="/images/logo_vibrant_hcmc.jpg">
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-6 col-xs-offset-0">
                                <img src="/images/logo_hcmc_tourism.jpg">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12">
                <div class="press-row float-right">
                    <div class="press-img">
                        <img src="/images/aboutus_press_new.jpg">
                    </div>
                    <div class="press-desc">
                        <p class="txt-center"><%- translations['about.us.press.new'] %></p>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2 col-sm-offset-1 col-sm-5 col-xs-6 col-xs-offset-0">
                                <img src="/images/logo/logo_danang_city.png">
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-6 col-xs-offset-0">
                                <img src="/images/logo/logo_ThuaThienHueTourism.png">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12">
                <h2><%= translations['about.us.fayfay.com.real.estate'] %></h2>
                <%- translations['about.us.real.estate.intro'] %>
                <div class="about-us-btn-row marginTop-30px">
                    <div class="about-us-btn border-grey">
                        <div class="whitebox">
                            <div class="img">
                                <img src="/images/aboutus_investor.png">
                            </div>
                            <div class="content">
                                <h1><%= translations['about.us.investor'] %></h1>
                                <p><%= translations['about.us.investor.desc'] %></p>
                            </div>
                        </div>
                    </div>
                    <div class="about-us-btn border-grey">
                        <div class="whitebox">
                            <div class="img">
                                <img src="/images/aboutus_real_estate.png">
                            </div>
                            <div class="content">
                                <h1><%= translations['about.us.real.estate'] %></h1>
                                <p><%= translations['about.us.real.estate.desc'] %></p>
                            </div>
                        </div>
                    </div>
                    <div class="about-us-btn border-grey">
                        <div class="whitebox">
                            <div class="img">
                                <img src="/images/aboutus_property_owner.png">
                            </div>
                            <div class="content">
                                <h1><%= translations['about.us.property.owner'] %></h1>
                                <p><%= translations['about.us.property.owner.desc'] %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row marginTop-30px marginBottom-30px">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 txt-center">
                <a class="btn btn-lg" href="<%= PROPERTY_WEB_URL %>/<%= locale %>/" target="_blank"><%= translations['about.us.go.to.fayfay.com'] %></a>
            </div>
        </div>

        <div class="row marginBottom-30px">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12">
                <h2><%= translations['about.us.co.founder'] %></h2>
                <div class="press-row">
                    <div class="press-img">
                        <img src="/images/aboutus_kingston.jpg">
                    </div>
                    <div class="press-desc">
                        <h4><%- translations['about.us.kingston'] %></h4>
                        <p class="txt-center marginTop-15px marginBottom-15px"><%- translations['about.us.kingston.desc'] %></p>
                    </div>
                </div>
                <div class="press-row float-right">
                    <div class="press-img">
                        <div class="img">
                            <img src="/images/aboutus_kelvin.jpg">
                        </div>
                    </div>
                    <div class="press-desc">
                        <h4><%- translations['about.us.kelvin'] %></h4>
                        <p class="txt-center marginTop-15px marginBottom-15px"><%- translations['about.us.kelvin.desc'] %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
